/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sp-lock-name: 'sp-Lock';
$sp-lock-x: 0px;
$sp-lock-y: 0px;
$sp-lock-offset-x: 0px;
$sp-lock-offset-y: 0px;
$sp-lock-width: 24px;
$sp-lock-height: 30px;
$sp-lock-total-width: 30px;
$sp-lock-total-height: 467px;
$sp-lock-image: '../img/sprite_NLP.png';
$sp-lock: (0px, 0px, 0px, 0px, 24px, 30px, 30px, 467px, '../img/sprite_NLP.png', 'sp-Lock', );
$sp-unlock-name: 'sp-Unlock';
$sp-unlock-x: 0px;
$sp-unlock-y: 35px;
$sp-unlock-offset-x: 0px;
$sp-unlock-offset-y: -35px;
$sp-unlock-width: 24px;
$sp-unlock-height: 30px;
$sp-unlock-total-width: 30px;
$sp-unlock-total-height: 467px;
$sp-unlock-image: '../img/sprite_NLP.png';
$sp-unlock: (0px, 35px, 0px, -35px, 24px, 30px, 30px, 467px, '../img/sprite_NLP.png', 'sp-Unlock', );
$sp-i-chat-name: 'sp-i-chat';
$sp-i-chat-x: 0px;
$sp-i-chat-y: 70px;
$sp-i-chat-offset-x: 0px;
$sp-i-chat-offset-y: -70px;
$sp-i-chat-width: 30px;
$sp-i-chat-height: 30px;
$sp-i-chat-total-width: 30px;
$sp-i-chat-total-height: 467px;
$sp-i-chat-image: '../img/sprite_NLP.png';
$sp-i-chat: (0px, 70px, 0px, -70px, 30px, 30px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-chat', );
$sp-i-comunity-hover-name: 'sp-i-comunity-hover';
$sp-i-comunity-hover-x: 0px;
$sp-i-comunity-hover-y: 105px;
$sp-i-comunity-hover-offset-x: 0px;
$sp-i-comunity-hover-offset-y: -105px;
$sp-i-comunity-hover-width: 28px;
$sp-i-comunity-hover-height: 18px;
$sp-i-comunity-hover-total-width: 30px;
$sp-i-comunity-hover-total-height: 467px;
$sp-i-comunity-hover-image: '../img/sprite_NLP.png';
$sp-i-comunity-hover: (0px, 105px, 0px, -105px, 28px, 18px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-comunity-hover', );
$sp-i-comunity-name: 'sp-i-comunity';
$sp-i-comunity-x: 0px;
$sp-i-comunity-y: 128px;
$sp-i-comunity-offset-x: 0px;
$sp-i-comunity-offset-y: -128px;
$sp-i-comunity-width: 28px;
$sp-i-comunity-height: 18px;
$sp-i-comunity-total-width: 30px;
$sp-i-comunity-total-height: 467px;
$sp-i-comunity-image: '../img/sprite_NLP.png';
$sp-i-comunity: (0px, 128px, 0px, -128px, 28px, 18px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-comunity', );
$sp-i-diary-hover-name: 'sp-i-diary-hover';
$sp-i-diary-hover-x: 0px;
$sp-i-diary-hover-y: 151px;
$sp-i-diary-hover-offset-x: 0px;
$sp-i-diary-hover-offset-y: -151px;
$sp-i-diary-hover-width: 18px;
$sp-i-diary-hover-height: 26px;
$sp-i-diary-hover-total-width: 30px;
$sp-i-diary-hover-total-height: 467px;
$sp-i-diary-hover-image: '../img/sprite_NLP.png';
$sp-i-diary-hover: (0px, 151px, 0px, -151px, 18px, 26px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-diary-hover', );
$sp-i-diary-name: 'sp-i-diary';
$sp-i-diary-x: 0px;
$sp-i-diary-y: 182px;
$sp-i-diary-offset-x: 0px;
$sp-i-diary-offset-y: -182px;
$sp-i-diary-width: 18px;
$sp-i-diary-height: 26px;
$sp-i-diary-total-width: 30px;
$sp-i-diary-total-height: 467px;
$sp-i-diary-image: '../img/sprite_NLP.png';
$sp-i-diary: (0px, 182px, 0px, -182px, 18px, 26px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-diary', );
$sp-i-done-name: 'sp-i-done';
$sp-i-done-x: 0px;
$sp-i-done-y: 213px;
$sp-i-done-offset-x: 0px;
$sp-i-done-offset-y: -213px;
$sp-i-done-width: 30px;
$sp-i-done-height: 24px;
$sp-i-done-total-width: 30px;
$sp-i-done-total-height: 467px;
$sp-i-done-image: '../img/sprite_NLP.png';
$sp-i-done: (0px, 213px, 0px, -213px, 30px, 24px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-done', );
$sp-i-error-name: 'sp-i-error';
$sp-i-error-x: 0px;
$sp-i-error-y: 242px;
$sp-i-error-offset-x: 0px;
$sp-i-error-offset-y: -242px;
$sp-i-error-width: 26px;
$sp-i-error-height: 26px;
$sp-i-error-total-width: 30px;
$sp-i-error-total-height: 467px;
$sp-i-error-image: '../img/sprite_NLP.png';
$sp-i-error: (0px, 242px, 0px, -242px, 26px, 26px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-error', );
$sp-i-facebook-name: 'sp-i-facebook';
$sp-i-facebook-x: 0px;
$sp-i-facebook-y: 273px;
$sp-i-facebook-offset-x: 0px;
$sp-i-facebook-offset-y: -273px;
$sp-i-facebook-width: 12px;
$sp-i-facebook-height: 20px;
$sp-i-facebook-total-width: 30px;
$sp-i-facebook-total-height: 467px;
$sp-i-facebook-image: '../img/sprite_NLP.png';
$sp-i-facebook: (0px, 273px, 0px, -273px, 12px, 20px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-facebook', );
$sp-i-load-img-name: 'sp-i-load-img';
$sp-i-load-img-x: 0px;
$sp-i-load-img-y: 298px;
$sp-i-load-img-offset-x: 0px;
$sp-i-load-img-offset-y: -298px;
$sp-i-load-img-width: 16px;
$sp-i-load-img-height: 20px;
$sp-i-load-img-total-width: 30px;
$sp-i-load-img-total-height: 467px;
$sp-i-load-img-image: '../img/sprite_NLP.png';
$sp-i-load-img: (0px, 298px, 0px, -298px, 16px, 20px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-load-img', );
$sp-i-phone-name: 'sp-i-phone';
$sp-i-phone-x: 0px;
$sp-i-phone-y: 323px;
$sp-i-phone-offset-x: 0px;
$sp-i-phone-offset-y: -323px;
$sp-i-phone-width: 30px;
$sp-i-phone-height: 30px;
$sp-i-phone-total-width: 30px;
$sp-i-phone-total-height: 467px;
$sp-i-phone-image: '../img/sprite_NLP.png';
$sp-i-phone: (0px, 323px, 0px, -323px, 30px, 30px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-phone', );
$sp-i-training-hover-name: 'sp-i-training-hover';
$sp-i-training-hover-x: 0px;
$sp-i-training-hover-y: 358px;
$sp-i-training-hover-offset-x: 0px;
$sp-i-training-hover-offset-y: -358px;
$sp-i-training-hover-width: 26px;
$sp-i-training-hover-height: 26px;
$sp-i-training-hover-total-width: 30px;
$sp-i-training-hover-total-height: 467px;
$sp-i-training-hover-image: '../img/sprite_NLP.png';
$sp-i-training-hover: (0px, 358px, 0px, -358px, 26px, 26px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-training-hover', );
$sp-i-training-name: 'sp-i-training';
$sp-i-training-x: 0px;
$sp-i-training-y: 389px;
$sp-i-training-offset-x: 0px;
$sp-i-training-offset-y: -389px;
$sp-i-training-width: 26px;
$sp-i-training-height: 26px;
$sp-i-training-total-width: 30px;
$sp-i-training-total-height: 467px;
$sp-i-training-image: '../img/sprite_NLP.png';
$sp-i-training: (0px, 389px, 0px, -389px, 26px, 26px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-training', );
$sp-i-user-name: 'sp-i-user';
$sp-i-user-x: 0px;
$sp-i-user-y: 420px;
$sp-i-user-offset-x: 0px;
$sp-i-user-offset-y: -420px;
$sp-i-user-width: 26px;
$sp-i-user-height: 30px;
$sp-i-user-total-width: 30px;
$sp-i-user-total-height: 467px;
$sp-i-user-image: '../img/sprite_NLP.png';
$sp-i-user: (0px, 420px, 0px, -420px, 26px, 30px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-user', );
$sp-i-vk-name: 'sp-i-vk';
$sp-i-vk-x: 0px;
$sp-i-vk-y: 455px;
$sp-i-vk-offset-x: 0px;
$sp-i-vk-offset-y: -455px;
$sp-i-vk-width: 20px;
$sp-i-vk-height: 12px;
$sp-i-vk-total-width: 30px;
$sp-i-vk-total-height: 467px;
$sp-i-vk-image: '../img/sprite_NLP.png';
$sp-i-vk: (0px, 455px, 0px, -455px, 20px, 12px, 30px, 467px, '../img/sprite_NLP.png', 'sp-i-vk', );
$sp-lock-2x-name: 'sp-Lock@2x';
$sp-lock-2x-x: 0px;
$sp-lock-2x-y: 0px;
$sp-lock-2x-offset-x: 0px;
$sp-lock-2x-offset-y: 0px;
$sp-lock-2x-width: 48px;
$sp-lock-2x-height: 60px;
$sp-lock-2x-total-width: 60px;
$sp-lock-2x-total-height: 934px;
$sp-lock-2x-image: '../img/sprite_NLP@2x.png';
$sp-lock-2x: (0px, 0px, 0px, 0px, 48px, 60px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-Lock@2x', );
$sp-unlock-2x-name: 'sp-Unlock@2x';
$sp-unlock-2x-x: 0px;
$sp-unlock-2x-y: 70px;
$sp-unlock-2x-offset-x: 0px;
$sp-unlock-2x-offset-y: -70px;
$sp-unlock-2x-width: 48px;
$sp-unlock-2x-height: 60px;
$sp-unlock-2x-total-width: 60px;
$sp-unlock-2x-total-height: 934px;
$sp-unlock-2x-image: '../img/sprite_NLP@2x.png';
$sp-unlock-2x: (0px, 70px, 0px, -70px, 48px, 60px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-Unlock@2x', );
$sp-i-chat-2x-name: 'sp-i-chat@2x';
$sp-i-chat-2x-x: 0px;
$sp-i-chat-2x-y: 140px;
$sp-i-chat-2x-offset-x: 0px;
$sp-i-chat-2x-offset-y: -140px;
$sp-i-chat-2x-width: 60px;
$sp-i-chat-2x-height: 60px;
$sp-i-chat-2x-total-width: 60px;
$sp-i-chat-2x-total-height: 934px;
$sp-i-chat-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-chat-2x: (0px, 140px, 0px, -140px, 60px, 60px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-chat@2x', );
$sp-i-comunity-hover-2x-name: 'sp-i-comunity-hover@2x';
$sp-i-comunity-hover-2x-x: 0px;
$sp-i-comunity-hover-2x-y: 210px;
$sp-i-comunity-hover-2x-offset-x: 0px;
$sp-i-comunity-hover-2x-offset-y: -210px;
$sp-i-comunity-hover-2x-width: 56px;
$sp-i-comunity-hover-2x-height: 36px;
$sp-i-comunity-hover-2x-total-width: 60px;
$sp-i-comunity-hover-2x-total-height: 934px;
$sp-i-comunity-hover-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-comunity-hover-2x: (0px, 210px, 0px, -210px, 56px, 36px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-comunity-hover@2x', );
$sp-i-comunity-2x-name: 'sp-i-comunity@2x';
$sp-i-comunity-2x-x: 0px;
$sp-i-comunity-2x-y: 256px;
$sp-i-comunity-2x-offset-x: 0px;
$sp-i-comunity-2x-offset-y: -256px;
$sp-i-comunity-2x-width: 56px;
$sp-i-comunity-2x-height: 36px;
$sp-i-comunity-2x-total-width: 60px;
$sp-i-comunity-2x-total-height: 934px;
$sp-i-comunity-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-comunity-2x: (0px, 256px, 0px, -256px, 56px, 36px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-comunity@2x', );
$sp-i-diary-hover-2x-name: 'sp-i-diary-hover@2x';
$sp-i-diary-hover-2x-x: 0px;
$sp-i-diary-hover-2x-y: 302px;
$sp-i-diary-hover-2x-offset-x: 0px;
$sp-i-diary-hover-2x-offset-y: -302px;
$sp-i-diary-hover-2x-width: 36px;
$sp-i-diary-hover-2x-height: 52px;
$sp-i-diary-hover-2x-total-width: 60px;
$sp-i-diary-hover-2x-total-height: 934px;
$sp-i-diary-hover-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-diary-hover-2x: (0px, 302px, 0px, -302px, 36px, 52px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-diary-hover@2x', );
$sp-i-diary-2x-name: 'sp-i-diary@2x';
$sp-i-diary-2x-x: 0px;
$sp-i-diary-2x-y: 364px;
$sp-i-diary-2x-offset-x: 0px;
$sp-i-diary-2x-offset-y: -364px;
$sp-i-diary-2x-width: 36px;
$sp-i-diary-2x-height: 52px;
$sp-i-diary-2x-total-width: 60px;
$sp-i-diary-2x-total-height: 934px;
$sp-i-diary-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-diary-2x: (0px, 364px, 0px, -364px, 36px, 52px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-diary@2x', );
$sp-i-done-2x-name: 'sp-i-done@2x';
$sp-i-done-2x-x: 0px;
$sp-i-done-2x-y: 426px;
$sp-i-done-2x-offset-x: 0px;
$sp-i-done-2x-offset-y: -426px;
$sp-i-done-2x-width: 60px;
$sp-i-done-2x-height: 48px;
$sp-i-done-2x-total-width: 60px;
$sp-i-done-2x-total-height: 934px;
$sp-i-done-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-done-2x: (0px, 426px, 0px, -426px, 60px, 48px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-done@2x', );
$sp-i-error-2x-name: 'sp-i-error@2x';
$sp-i-error-2x-x: 0px;
$sp-i-error-2x-y: 484px;
$sp-i-error-2x-offset-x: 0px;
$sp-i-error-2x-offset-y: -484px;
$sp-i-error-2x-width: 52px;
$sp-i-error-2x-height: 52px;
$sp-i-error-2x-total-width: 60px;
$sp-i-error-2x-total-height: 934px;
$sp-i-error-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-error-2x: (0px, 484px, 0px, -484px, 52px, 52px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-error@2x', );
$sp-i-facebook-2x-name: 'sp-i-facebook@2x';
$sp-i-facebook-2x-x: 0px;
$sp-i-facebook-2x-y: 546px;
$sp-i-facebook-2x-offset-x: 0px;
$sp-i-facebook-2x-offset-y: -546px;
$sp-i-facebook-2x-width: 24px;
$sp-i-facebook-2x-height: 40px;
$sp-i-facebook-2x-total-width: 60px;
$sp-i-facebook-2x-total-height: 934px;
$sp-i-facebook-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-facebook-2x: (0px, 546px, 0px, -546px, 24px, 40px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-facebook@2x', );
$sp-i-load-img-2x-name: 'sp-i-load-img@2x';
$sp-i-load-img-2x-x: 0px;
$sp-i-load-img-2x-y: 596px;
$sp-i-load-img-2x-offset-x: 0px;
$sp-i-load-img-2x-offset-y: -596px;
$sp-i-load-img-2x-width: 32px;
$sp-i-load-img-2x-height: 40px;
$sp-i-load-img-2x-total-width: 60px;
$sp-i-load-img-2x-total-height: 934px;
$sp-i-load-img-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-load-img-2x: (0px, 596px, 0px, -596px, 32px, 40px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-load-img@2x', );
$sp-i-phone-2x-name: 'sp-i-phone@2x';
$sp-i-phone-2x-x: 0px;
$sp-i-phone-2x-y: 646px;
$sp-i-phone-2x-offset-x: 0px;
$sp-i-phone-2x-offset-y: -646px;
$sp-i-phone-2x-width: 60px;
$sp-i-phone-2x-height: 60px;
$sp-i-phone-2x-total-width: 60px;
$sp-i-phone-2x-total-height: 934px;
$sp-i-phone-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-phone-2x: (0px, 646px, 0px, -646px, 60px, 60px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-phone@2x', );
$sp-i-training-hover-2x-name: 'sp-i-training-hover@2x';
$sp-i-training-hover-2x-x: 0px;
$sp-i-training-hover-2x-y: 716px;
$sp-i-training-hover-2x-offset-x: 0px;
$sp-i-training-hover-2x-offset-y: -716px;
$sp-i-training-hover-2x-width: 52px;
$sp-i-training-hover-2x-height: 52px;
$sp-i-training-hover-2x-total-width: 60px;
$sp-i-training-hover-2x-total-height: 934px;
$sp-i-training-hover-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-training-hover-2x: (0px, 716px, 0px, -716px, 52px, 52px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-training-hover@2x', );
$sp-i-training-2x-name: 'sp-i-training@2x';
$sp-i-training-2x-x: 0px;
$sp-i-training-2x-y: 778px;
$sp-i-training-2x-offset-x: 0px;
$sp-i-training-2x-offset-y: -778px;
$sp-i-training-2x-width: 52px;
$sp-i-training-2x-height: 52px;
$sp-i-training-2x-total-width: 60px;
$sp-i-training-2x-total-height: 934px;
$sp-i-training-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-training-2x: (0px, 778px, 0px, -778px, 52px, 52px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-training@2x', );
$sp-i-user-2x-name: 'sp-i-user@2x';
$sp-i-user-2x-x: 0px;
$sp-i-user-2x-y: 840px;
$sp-i-user-2x-offset-x: 0px;
$sp-i-user-2x-offset-y: -840px;
$sp-i-user-2x-width: 52px;
$sp-i-user-2x-height: 60px;
$sp-i-user-2x-total-width: 60px;
$sp-i-user-2x-total-height: 934px;
$sp-i-user-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-user-2x: (0px, 840px, 0px, -840px, 52px, 60px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-user@2x', );
$sp-i-vk-2x-name: 'sp-i-vk@2x';
$sp-i-vk-2x-x: 0px;
$sp-i-vk-2x-y: 910px;
$sp-i-vk-2x-offset-x: 0px;
$sp-i-vk-2x-offset-y: -910px;
$sp-i-vk-2x-width: 40px;
$sp-i-vk-2x-height: 24px;
$sp-i-vk-2x-total-width: 60px;
$sp-i-vk-2x-total-height: 934px;
$sp-i-vk-2x-image: '../img/sprite_NLP@2x.png';
$sp-i-vk-2x: (0px, 910px, 0px, -910px, 40px, 24px, 60px, 934px, '../img/sprite_NLP@2x.png', 'sp-i-vk@2x', );
$spritesheet-width: 30px;
$spritesheet-height: 467px;
$spritesheet-image: '../img/sprite_NLP.png';
$spritesheet-sprites: ($sp-lock, $sp-unlock, $sp-i-chat, $sp-i-comunity-hover, $sp-i-comunity, $sp-i-diary-hover, $sp-i-diary, $sp-i-done, $sp-i-error, $sp-i-facebook, $sp-i-load-img, $sp-i-phone, $sp-i-training-hover, $sp-i-training, $sp-i-user, $sp-i-vk, );
$spritesheet: (30px, 467px, '../img/sprite_NLP.png', $spritesheet-sprites, );
$retina-spritesheet-width: 60px;
$retina-spritesheet-height: 934px;
$retina-spritesheet-image: '../img/sprite_NLP@2x.png';
$retina-spritesheet-sprites: ($sp-lock-2x, $sp-unlock-2x, $sp-i-chat-2x, $sp-i-comunity-hover-2x, $sp-i-comunity-2x, $sp-i-diary-hover-2x, $sp-i-diary-2x, $sp-i-done-2x, $sp-i-error-2x, $sp-i-facebook-2x, $sp-i-load-img-2x, $sp-i-phone-2x, $sp-i-training-hover-2x, $sp-i-training-2x, $sp-i-user-2x, $sp-i-vk-2x, );
$retina-spritesheet: (60px, 934px, '../img/sprite_NLP@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sp-lock-group-name: 'sp-Lock';
$sp-lock-group: ('sp-Lock', $sp-lock, $sp-lock-2x, );
$sp-unlock-group-name: 'sp-Unlock';
$sp-unlock-group: ('sp-Unlock', $sp-unlock, $sp-unlock-2x, );
$sp-i-chat-group-name: 'sp-i-chat';
$sp-i-chat-group: ('sp-i-chat', $sp-i-chat, $sp-i-chat-2x, );
$sp-i-comunity-hover-group-name: 'sp-i-comunity-hover';
$sp-i-comunity-hover-group: ('sp-i-comunity-hover', $sp-i-comunity-hover, $sp-i-comunity-hover-2x, );
$sp-i-comunity-group-name: 'sp-i-comunity';
$sp-i-comunity-group: ('sp-i-comunity', $sp-i-comunity, $sp-i-comunity-2x, );
$sp-i-diary-hover-group-name: 'sp-i-diary-hover';
$sp-i-diary-hover-group: ('sp-i-diary-hover', $sp-i-diary-hover, $sp-i-diary-hover-2x, );
$sp-i-diary-group-name: 'sp-i-diary';
$sp-i-diary-group: ('sp-i-diary', $sp-i-diary, $sp-i-diary-2x, );
$sp-i-done-group-name: 'sp-i-done';
$sp-i-done-group: ('sp-i-done', $sp-i-done, $sp-i-done-2x, );
$sp-i-error-group-name: 'sp-i-error';
$sp-i-error-group: ('sp-i-error', $sp-i-error, $sp-i-error-2x, );
$sp-i-facebook-group-name: 'sp-i-facebook';
$sp-i-facebook-group: ('sp-i-facebook', $sp-i-facebook, $sp-i-facebook-2x, );
$sp-i-load-img-group-name: 'sp-i-load-img';
$sp-i-load-img-group: ('sp-i-load-img', $sp-i-load-img, $sp-i-load-img-2x, );
$sp-i-phone-group-name: 'sp-i-phone';
$sp-i-phone-group: ('sp-i-phone', $sp-i-phone, $sp-i-phone-2x, );
$sp-i-training-hover-group-name: 'sp-i-training-hover';
$sp-i-training-hover-group: ('sp-i-training-hover', $sp-i-training-hover, $sp-i-training-hover-2x, );
$sp-i-training-group-name: 'sp-i-training';
$sp-i-training-group: ('sp-i-training', $sp-i-training, $sp-i-training-2x, );
$sp-i-user-group-name: 'sp-i-user';
$sp-i-user-group: ('sp-i-user', $sp-i-user, $sp-i-user-2x, );
$sp-i-vk-group-name: 'sp-i-vk';
$sp-i-vk-group: ('sp-i-vk', $sp-i-vk, $sp-i-vk-2x, );
$retina-groups: ($sp-lock-group, $sp-unlock-group, $sp-i-chat-group, $sp-i-comunity-hover-group, $sp-i-comunity-group, $sp-i-diary-hover-group, $sp-i-diary-group, $sp-i-done-group, $sp-i-error-group, $sp-i-facebook-group, $sp-i-load-img-group, $sp-i-phone-group, $sp-i-training-hover-group, $sp-i-training-group, $sp-i-user-group, $sp-i-vk-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
