///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all          : return-value(dimension, all);
///
/// MAIN
///
.video {
	height: 400px;
	margin-bottom: 20px;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);


	iframe {
		@include mixinDimensions($w-all);
	}
}