mixin homeRow(count, className)
    div(class="home__row " + className)
        p.home__title!= "Задание " + count + ". Повысить эффективность"
        p.home__desc!= "Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей.Текст генерируется абзацами случайным образом от двух до десяти предложенийв абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия."


.home
    h3.main__sub-title!= "Домашнее задание"

    -for(var i = 1; i <= 5; i++)
        if(i === 1)
            +homeRow(i, "home__row_active")
        else
            +homeRow(i, "")
