@import "../_mixin/mixin";
@import "../_function/function";

// SPRITE [&retina]
//@import "../_variable/sprite_sport";
///
/// DECLARATION VARIABLE
///
$c-white				: return-value(color, white);
$c-shuttleGrey	: return-value(color, shuttleGrey);
$c-silverTree 	: return-value(color, silverTree);

$f-FS_light			: return-value(fonts, FS_light);
$f-FS_book			: return-value(fonts, FS_book);
$f-FS_bold			: return-value(fonts, FS_bold);
$f-V_regular    : return-value(fonts, V_regular);



///
/// MAIN
///
input,
textarea {
	resize: none;
	padding: 0 20px;
	margin-bottom: 20px;

	font: {
		family: $f-V_regular;
		size: 18px;
	}
	color: $c-shuttleGrey;

	background-color: $c-white;
	border: {
		width: 2px;
		style: solid;
		color: rgb(238,238,238);
	}
	transition: all .3s ease-in-out;



	&:focus,
	&:hover {
		border-color: $c-white;
		outline: none;
		box-shadow: 0 2px 20px 0 rgba(71, 71, 71, 0.1);
	}
}


input {
	height: 40px;
	line-height: 40px;
}


.main {
	min-height: 100px;

	padding: 70px 0 60px;

	background-color: $c-white;
	box-shadow: 0 2px 3px 0 rgba(71,71,71,0.4);


	&__title,
	&__sub-title {
		color: $c-shuttleGrey;
		text-align: center;
		padding: 0 15px;
	}


	&__title {
		font: {
			size: 36px;
			family: $f-FS_light;
		}
		letter-spacing: 2px;
		line-height: 1;
		margin-bottom: 40px;
	}


	&__sub-title {
		font: {
			size: 22px;
			family: $f-FS_book;
		}
		margin-bottom: 15px;
	}
}


.btn {
	height: 40px;
	line-height: 39px;
	border: {
		radius: 4px;
	}
	outline: none;
	border: none;
	cursor: pointer;
	font: {
		family: $f-FS_bold;
		size: 16px;
	}
	color: $c-white;
	background-color: $c-shuttleGrey;
	box-shadow: 0 2px 4px 0 rgba(71, 71, 71, 0.3);
	transition: all 0.3s ease-in-out;


	&:hover {
		background-color: $c-silverTree;
		box-shadow: 0 4px 8px 0 rgba(71, 71, 71, 0.2);
	}


	&_small {
		width: 125px;
	}
}