@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$c-white				: return-value(color, white);
$c-viking				: return-value(color, viking);
$c-whisper			: return-value(color, whisper);
$c-shuttleGrey	: return-value(color, shuttleGrey);
$c-silverTree 	: return-value(color, silverTree);
$c-regentStBlue : return-value(color, regentStBlue);

$f-FS_light			: return-value(fonts, FS_light);
$f-FS_book			: return-value(fonts, FS_book);
$f-FS_bold			: return-value(fonts, FS_bold);
$f-V_regular    : return-value(fonts, V_regular);
///
/// MAIN
///
input,
textarea {
	resize: none;
	padding: 0 20px;
	margin-bottom: 20px;

	font: {
		family: $f-V_regular;
		size: 18px;
	}
	color: $c-shuttleGrey;

	background-color: $c-white;
	border: {
		width: 2px;
		style: solid;
		color: rgb(238,238,238);
	}
	transition: all .3s ease-in-out;



	&:focus,
	&:hover {
		border-color: $c-white;
		outline: none;
		box-shadow: 0 2px 20px 0 rgba(71, 71, 71, 0.1);
	}
}


input {
	height: 40px;
	line-height: 40px;
}


.main {
	min-height: 100px;

	padding: 70px 0 60px;

	background-color: $c-white;
	box-shadow: 0 2px 3px 0 rgba(71,71,71,0.4);


	&_table {
		display: table;
		padding: 0;
	}


	&__wrap {
		width: 770px;
		margin: 0 auto;
		@include respond-to("large") {
			width: 810px;
		}
	}


	&__left {
		width: 470px;
		padding-right: 30px;
		background-color: $c-whisper;


		&-info {
			padding-left: 100px;
			font: {
				size: 14px;
				family: $f-V_regular;
			}
			color: $c-shuttleGrey;
			padding-bottom: 45px;
			@include respond-to("large") {
				padding-left: 50px;
			}
		}
	}


	&__right {
		position: relative;
		width: 1170px - 470px;
		padding: 60px 30px;
	}


	&__left,
	&__right {
		display: table-cell;
		vertical-align: top;
	}


	&__title,
	&__sub-title {
		color: $c-shuttleGrey;
		text-align: center;
		padding: 0 15px;
	}


	&__title {
		font: {
			size: 36px;
			family: $f-FS_light;
		}
		letter-spacing: 2px;
		line-height: 1;
		margin-bottom: 40px;
	}


	&__sub-title {
		font: {
			size: 22px;
			family: $f-FS_book;
		}
		margin-bottom: 15px;
	}
}


.list {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	align-items: stretch;


	&__block {
		position: relative;
		width: 170px;
		text-align: center;
		cursor: pointer;
		transition: all .3s ease-in-out;
	}


	&__wrap {
		&-img {
			transition: all .3s ease-in-out;
			overflow: hidden;

			@include mixinDimensions(170px, 160px);
			border: 5px solid $c-whisper;


			.user-avatar {
				max-width: initial;
				max-height: 100%;
				height: initial;
				transform: translateX(-20%);
			}
		}


		&-text {
			transition: all .3s ease-in-out;
			font: {
				size: 14px;
				family: $f-V_regular;
			}
			color: $c-viking;
			margin-top: 5px;
		}
	}
}



.btn-img-avatar {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: $c-white;
	text-align: center;
	@include mixinDimensions(40px);
	line-height: 40px;
	border: {
		radius: 50%;
		width: 1px;
		style: solid;
		color: $c-regentStBlue;
	}
}



.form__message {
	width: 100%;
	min-height: 116px;
	padding: 20px;
}


.btn {
	height: 40px;
	line-height: 39px;
	border: {
		radius: 4px;
	}
	outline: none;
	border: none;
	cursor: pointer;
	font: {
		family: $f-FS_bold;
		size: 16px;
	}
	color: $c-white;
	text-align: center;
	background-color: $c-shuttleGrey;
	box-shadow: 0 2px 4px 0 rgba(71, 71, 71, 0.3);
	transition: all 0.3s ease-in-out;


	&:hover {
		background-color: $c-silverTree;
		box-shadow: 0 4px 8px 0 rgba(71, 71, 71, 0.2);
	}


	&_small {
		width: 125px;
	}


	&_small-big {
		width: 170px;
	}


	&_medium {
		width: 370px;
	}


	&_big {
		width: 100%;
	}
}