
.header-top
    .container
        .nomination.nomination_left
            i.icon.nomination__icon

        .nomination__title
            p.title.title_white!= "Оптовая комания спортивного питания"

        .nomination.nomination_right
            i.icon.nomination__icon
