include _mixin/mixin


doctype html
html


    +headSite('Меню урока', lessons.styleLink, data.fontLink)


    body

        .container

            //- HEADER [logotype, navigation, {signIn, profile - btn} ]
            block header
                include _template/macros/_header


            .main
                .main__wrap

                    h1.main__title!= "1 Этап. Базовые стратегии НЛП"

                    block videoPresent
                        include ./_template/_lessons/video

                    block note
                        include ./_template/_lessons/note

                    block home
                        include ./_template/_lessons/home

                    block chats
                        include ./_template/_lessons/chat

            //- FOOTER
            block footer
                include _template/macros/_footer


        - for(var i = 0; i < lessons.scriptLink.length; i++)
            script(src= lessons.scriptLink[i])
