include _mixin/mixin


doctype html
html


    +headSite('Секретный код', secretCode.styleLink, data.fontLink)


    body

        .container
            .rows

                //- LOGOTYPE
                .logotype
                    img(src="./img/img-logo.png", class="logotype__icon", alt="logotype")
                    img(src="./img/img-logo@2x.png", class="logotype__icon-retina", alt="logotype")


                //- CONTAINER [input secret code]
                block container
                    include ./_template/_secret-code/_container


        - for(var i = 0; i < secretCode.scriptLink.length; i++)
            script(src= secretCode.scriptLink[i])
