include _mixin/mixin


doctype html
html


    +headSite('Стартовая анкета', startForm.styleLink, data.fontLink)


    body

        .container

            //- HEADER [logotype, navigation, {signIn, profile - btn} ]
            block header
                include _template/macros/_header


            .main
                .main__wrap

                    h1.main__title!= "Заполните данные анкеты"

                    form(action="", class="clearfix")

                        include ./_template/_start-form/_data

                        h2.main__sub-title!= "Напишите Ваши цели с которыми Вы пришли на тренинг"

                        textarea(id="form__message", name="form__message", placeholder="Введиет текст")

                        button(type="submit", id="btn-submit" class="btn btn-start-form btn_small")!= "Сохранить"


            //- FOOTER
            block footer
                include _template/macros/_footer


        - for(var i = 0; i < startForm.scriptLink.length; i++)
            script(src= startForm.scriptLink[i])
