form(action="", class="form__community clearfix")

    textarea(class="form__message form__message_community", name="form__message" placeholder="Здесь вы можите делиться инсайтами и полезными мыслями")

    button(type="submit", id="btn-submit" class="btn btn-save__community btn_small-big")!= "Отправить"