///
/// IMPORT BLOCK
///
@import "_mixin/mixin";
@import "_function/function";
///
///	SPRITE
///
@import "_variable/sprite_NLP";
///
///	TMPL
///
@import "./_template/_diary/_note";
///
/// DECLARATION VARIABLE
///
$w-all				    : return-value(dimension, all);

$c-white          : return-value(color, white);
$c-whisper        : return-value(color, whisper);
$c-shuttleGrey    : return-value(color, shuttleGrey);
$c-mediumSeaGreen : return-value(color, mediumSeaGreen);

$f-V_regular      : return-value(fonts, V_regular);
///
/// MAIN
///
.main {
	padding: 0;
	display: table;


	&__left {
		width: 470px;
		padding-right: 30px;
		background-color: $c-whisper;


		&-info {
			padding-left: 100px;
			font: {
				size: 14px;
				family: $f-V_regular;
			}
			color: $c-shuttleGrey;
			padding-bottom: 45px;
			@include respond-to("large") {
				padding-left: 50px;
			}
		}
	}


	&__right {
		position: relative;
		width: 1170px - 470px;
		padding: 140px 30px 0;
	}


	&__left,
	&__right {
		display: table-cell;
		vertical-align: top;
	}


	&__title {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		padding-left: 100px;
		text-align: left;
		@include respond-to("large") {
			padding-left: 50px;
		}
	}
}


.title__wrap {
	padding-top: 60px;
	padding-bottom: 40px;
}


.btn-add-node {
	float: right;
	vertical-align: middle;
	@include mixinDimensions(40px);
	line-height: 40px;
	text-align: center;
	background-color: $c-mediumSeaGreen;
	box-shadow: 0 2px 4px 0 rgba(71, 71, 71, 0.3);
	border: {
		radius: 4px;
	}


	&__icon {
		display: inline-block;
		vertical-align: middle;
		@include retina-sprite($sp-i-add-note-group);
	}
}


.btn-diary__edit {
	position: absolute;
	top: 110px;
	right: 30px;
	color: $c-mediumSeaGreen;
	font : {
		size: 14px;
		family: $f-V_regular;
	}


	&:hover {
		text-decoration: underline;
	}
}


.btn-note__arrow {
	float: right;
	margin-top: 3px;


	&_left {
		@include retina-sprite($sp-i-left-arrow-group);
		margin-right: 5px;
	}
	&_right {
		@include retina-sprite($sp-i-right-arrow-group);
		margin-left: 5px;
	}
}


.btn-note-delete {
	float: right;
	margin-top: 15px;
	@include retina-sprite($sp-i-delete-group);


	&:hover {
		@include retina-sprite($sp-i-delete-hover-group);
	}
}


.diary__input {
	width: $w-all;
}


.form {
	&__diary {
		padding-bottom: 30px;
	}


	&__message_diary {
		width: $w-all;
		min-height: 321px;
		font-size: 14px;
	}
}