///
/// IMPORT BLOCK
///
@import "_mixin/mixin";
@import "_function/function";
///
///	SPRITE
///
@import "_variable/sprite_NLP";
///
///	TMPL
///
@import "./_template/_startForm/_data";
///
/// DECLARATION VARIABLE
///
$w-all				: return-value(dimension, all);

$c-white      : return-value(color, white);
$c-shuttleGrey: return-value(color, shuttleGrey);

$f-FS_light	  : return-value(fonts, FS_light);
$f-V_regular  : return-value(fonts, V_regular);


///
/// MAIN
///
.video {
	position: relative;
	z-index: 101;

	padding: 95px 0 35px;
	text-align: center;


	&__title {
		font: {
			size: 30px;
			family: $f-FS_light;
		}
		color: $c-white;
		margin-bottom: 15px;
	}


	&__wrap {
		iframe {
			width: 770px;
			min-width: 300px;
			max-width: 770px;
			min-height: 400px;
		}
	}
}


.hello__page {
	.header {
		.logo,
		.nav__btn-training {
			position: relative;
			z-index: 101;
		}
	}
}


.hello_bg {
	position: absolute;
	width: 100%;
	top: 0;
	background-color: rgba(0,0,0,0.85);
	z-index: 100;
}


.btn-go {
	display: inline-block;
	margin: 15px 0;
}