///
/// IMPORT BLOCK
///
@import "_mixin/mixin";
@import "_function/function";
///
///	SPRITE
///
@import "_variable/sprite_NLP";
///
///	TMPL
///
@import "./_template/_startForm/_data";
///
/// DECLARATION VARIABLE
///
$c-white      : return-value(color, white);
$c-shuttleGrey: return-value(color, shuttleGrey);

$f-V_regular  : return-value(fonts, V_regular);


///
/// MAIN
///
.btn-start-form {
	float: right;
}